<!DOCTYPE html>
<html>
  <head>
    <title>Are you compliant? - Accessibility Statement Generator</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/pattern-library.css"/>
  </head>
  <body>
    <div class="ds_page">
      <div class="ds_page__top">
        <!--
            Notifications
            Site header
            Site navigation
        -->
      </div>

      <div class="ds_page__middle">
        <!--
            Main content
        -->
        <main class="ds_layout  ds_layout--article">
          <div class="ds_layout__header">
            <!--
                A ds_article-header component or other header content
            -->
            <h1>Are you compliant?</h1>
          </div>

          <div class="ds_layout__partner">
            <!--
                Optional partner branding
            -->
          </div>

          <div class="ds_layout__content">
            <!--
                The article content
            -->
            <p>Radio group</p>
            <div class="button-group">
              <a href="/disproportionate-burden" class="ds_button  ds_button--cancel  ds_button--has-icon  ds_button--has-icon--left">
                <svg class="ds_icon" aria-hidden="true" role="img"><use href="/dist/images/icons/icons.stack.svg#chevron_left"></use></svg>
                Back
              </a>

              <a href="/non-accessible-content" class="ds_button  ds_button--has-icon">
                Next
                <svg class="ds_icon" aria-hidden="true" role="img"><use href="/dist/images/icons/icons.stack.svg#chevron_right"></use></svg>
              </a>
            </div>
          </div>

          <div class="ds_layout__sidebar">
            <!--
                Sidebar content, such as related links
            -->
          </div>

          <div class="ds_layout__feedback">
            <!--
                Feedback form
            -->
          </div>
        </main>
      </div>

      <div class="ds_page__bottom">
        <!--
            Footer
            Scripts
        -->
      </div>
    </div>
  </body>
</html>
