<!DOCTYPE html>
<html>
  <head>
    <title>Disproportionate burden - Accessibility Statement Generator</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css"/>
  </head>
  <body>
    <div class="ds_page">
      <div class="ds_page__top">
        <!--
            Notifications
            Site header
            Site navigation
        -->
      </div>

      <div class="ds_page__middle">
        <!--
            Main content
        -->
        <main class="ds_layout  ds_layout--article">
          <div class="ds_layout__header">
            <!--
                A ds_article-header component or other header content
            -->
            <h1>Disproportionate burden</h1>
          </div>

          <div class="ds_layout__partner">
            <!--
                Optional partner branding
            -->
          </div>

          <div class="ds_layout__content">
            <!--
                The article content
            -->
            <p>List content or sections on which you claim disproportionate burden</p>
            <p>add one button(button + js?)</p>
            <p>what sort of forms should these be? text or textarea? multiple forms?</p>

            <nav class="ds_sequential-nav" aria-label="Article navigation">
              <div class="ds_sequential-nav__item  ds_sequential-nav__item--prev">
                <a href="/outside-scope" class="ds_sequential-nav__button  ds_sequential-nav__button--left">
                  <span class="ds_sequential-nav__text" data-label="previous">
                    Not within scope of regulations
                  </span>
                </a>
              </div>

              <div class="ds_sequential-nav__item  ds_sequential-nav__item--next">
                <a href="/compliance" class="ds_sequential-nav__button  ds_sequential-nav__button--right">
                  <span class="ds_sequential-nav__text" data-label="next">
                    Are you compliant?
                  </span>
                </a>
              </div>
            </nav>
          </div>

          <div class="ds_layout__sidebar">
            <!--
                Sidebar content, such as related links
            -->
          </div>

          <div class="ds_layout__feedback">
            <!--
                Feedback form
            -->
          </div>
        </main>
      </div>

      <div class="ds_page__bottom">
        <!--
            Footer
            Scripts
        -->
      </div>
    </div>
  </body>
</html>
